.dockerignore
.git
logs/
tmp/
/log/*
/tmp/*
/public/packs/*
!/log/.keep
!/tmp/.keep
.DS_Store
.idea
.env
/config/master.key
/config/credentials/production.key
/node_modules/*
/.bundle
.byebug_history

.cache