<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>SnackBox</h1>
    <p>
      Matching is done! Time to go shopping for some local snacks!
    </p>
    <ul>
        <li>
        You will have until the end date to ship your box. 
        </li>
        <li>
            Make sure you read your snackees details to see if there are any food allergies.
        </li>
        <li>
        You can be reimbursed up to $25 as well as shipping costs from Concur.
        </li>
    </ul>
    <p>Thanks for participating in SnackBox and happy snacking!</p>
    <footer>
      For any questions or concerns, email awayte@teladochealth.com
    </footer>
  </body>
</html>
