<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>SnackBox</h1>
    <p>
      You have requested a link to update your exchange preferences.
    </p>
    <p>
      To update, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for signing up for SnackBox and happy snacking!</p>
  </body>
</html>
