<tr>
  <td
    style="
      color: #153643;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 24px;
      padding: 20px 0 30px 0;
    "
  >
    <p style="margin: 0">
      You have requested a link to update your exchange preferences.
    </p>
    <br /><br />
    <p>
      To update, just follow this <%= link_to("link", @url) %>
    </p>
  </td>
</tr>
