<tr>
  <td
    style="
      color: #153643;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 24px;
      padding: 20px 0 30px 0;
    "
  >
    <h2>Snacktime is happening soon! Your box has been shipped!</h2>
  </td>
</tr>
<tr>
   <td>
      <h4>When you receive your box, make
      sure to give a nice thank you! Here are some ideas:</h4>
    <br />
    <br />
    <ul>
      <li>Write an email!</li>
      <li>Send a message on Slack!</li>
      <li>Post a photo and thank you message in #snackbox Slack channel</li>
    </ul>
  </td>
</tr>
<br>
<br>
<tr>
   <td>
   <i>In the unfortunate event you never receive a snackbox, please contact <%= Rails.application.credentials.contact_email %></i>
  </td>
</tr>